<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="net461" developmentDependency="true" />
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net461" />
  <package id="DotLiquid" version="2.0.298" targetFramework="net461" />
  <package id="Nancy" version="2.0.0-clinteastwood" targetFramework="net461" />
  <package id="Nancy.Authentication.Forms" version="2.0.0-clinteastwood" targetFramework="net461" />
  <package id="Nancy.Hosting.Aspnet" version="2.0.0-clinteastwood" targetFramework="net461" />
</packages>