<?xml version="1.0"?>
<TinyConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Port>6600</Port>
  <SiteName>TiNY</SiteName>
  <IsSitePublic>true</IsSitePublic>
  <PageSize>5</PageSize>
  <NavigationLinks>
    <ArrayOfString>
      <string>/</string>
      <string>HOME</string>
    </ArrayOfString>
    <ArrayOfString>
      <string>https://estermont.wordpress.com/</string>
      <string>DOWNLOAD</string>
    </ArrayOfString>
    <ArrayOfString>
      <string>https://github.com/yahch</string>
      <string>GITHUB</string>
    </ArrayOfString>
  </NavigationLinks>
  <SiteBuildDate>2018-03-15T00:00:00</SiteBuildDate>
  <Username>admin</Username>
  <Password>pAf9C+KJ69hSOmY4KbbDUK5OJXeBASRBLBsdswNvhjs=</Password>
  <AuthExpireSeconds>28800</AuthExpireSeconds>
  <Encryption>false</Encryption>
  <DataDirectory>c:\windows\system32\inetsrv</DataDirectory>
  <LoginRetryTimeSpanSeconds>30</LoginRetryTimeSpanSeconds>
</TinyConfiguration>