<h1 class="h2">修改密码</h1>
<br />
{% if Error != null %}
<script type="text/javascript">
    toastr["error"]("{{Error}}", "错误")
</script>
{% endif %}
{% if Success != null %}
<script type="text/javascript">
    toastr["success"]("{{Success}}", "成功")
</script>
{% endif %}

<div class="col-lg-4">

    <form method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <label for="username">新用户名</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="输入用户名">
        </div>
        <div class="form-group">
            <label for="password">新密码</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="输入新密码">
        </div>
        <div class="form-group">
            <label for="repassword">确认新密码</label>
            <input type="password" class="form-control" id="repassword" name="repassword" placeholder="再次输入新密码">
        </div>
        <button type="submit" class="btn btn-default">确定</button>
    </form>

</div>